<div class="">
    <div *ngIf="!dataLoaded" class="spinner-border text-success" role="status">
        <span class="visually-hidden">{{getTranslate("loading")}}...</span>
    </div>

    <div class="">

        <div class="mb-3 d-flex">
            <input [(ngModel)]="filterText" class="form-control" type="search" placeholder="Ara"
                aria-label="Search">
            <!-- <button class="btn btn-outline-success" type="submit">{{getTranslate("search")}}</button> -->
        </div>



        <!-- <form class="row">
            <label for="minTime" class="col-form-label col-sm-1">{{getTranslate("time")}}</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="minTime" [(ngModel)]="minTime"
                    placeholder="{{getTranslate('minimumTime')}}">
            </div>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="maxTime" placeholder="{{getTranslate('maximumTime')}}"
                    [(ngModel)]="maxTime">
            </div>
            <div class="col-sm-1">
                <button *ngIf="getUrl() == '/user/tests'" [routerLink]="getFilterRouterClass()" type="button"
                    class="btn btn-success">{{getTranslate('filter')}}</button>
                <button *ngIf="getUrl() != '/user/tests'" routerLink="/user/tests" type="button"
                    class="btn btn-danger">{{getTranslate('clear')}}</button>
            </div>
            <div class="col-sm-8 text-end">
                <button routerLink="/user/tests/add" type="button" class="btn btn-primary">{{getTranslate('add')}}</button>
            </div>
        </form> -->

        <h3 class="text-center" *ngIf="tests.length === 0">{{getTranslate('noResults')}}</h3>
        <div *ngIf="!dataLoaded" class="spinner-border text-success" role="status">
            <span class="visually-hidden">{{getTranslate("loading")}}...</span>
        </div>

        <div class="row g-3">
            <div *ngFor="let test of tests; let i = index" class="col-sm-12 col-12 col-lg-12">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="col">
                                <h6 class="card-title text-start mb-0">{{test.userName}}</h6>
                                <small class="text-muted mt-0">{{getCustomer(test.test.userId).lesson.name}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{test.test.title}}</h5>
                        <p class="card-text text-truncate">{{test.test.description}}</p>
                        <a routerLink="/tests/solve/{{test.test.id}}"
                            class="btn btn-outline-dark">{{getTranslate('viewDetails')}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>