<nav class="navbar navbar-expand-md navbar-light bd-navbar" style="background-color: rgb(2, 189, 148);">
  <div class="container-xxl flex-wrap flex-md-nowrap">
    <a class="navbar-brand mb-0 h1" routerLink="">Soruluk</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" [ngClass]="{'active' : checkRouterContains('questions/details')}" aria-current="page"
            routerLink="/questions/details">
            {{ getTranslates("questionPool") }}
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" [ngClass]="{'active' : checkRouterContains('tests/details')}" aria-current="page"
            routerLink="/tests/details">
            {{ getTranslates("tests") }}
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a *ngIf="userIsAdmin()" class="nav-link p-2" [ngClass]="{'active' : checkRouterContains('admin')}"
            aria-current="page" routerLink="/admin">
            {{ getTranslates("adminPanel") }}
          </a>
        </li>
      </ul>

      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item col-6 col-md-auto">
          <div *ngIf="!isLog()" class="text-end">
            <div class="nav-item dropdown dropdown-menu-end">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ getTranslates("login") }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" routerLink="/login">
                    {{getTranslates("login")}}
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/register">
                    {{getTranslates("signup")}}
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/settings">
                    {{getTranslates("settings")}}
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div *ngIf="isLog()" class="text-end">
            <div class="nav-item dropdown dropdown-menu-end">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img [src]="baseUrl + profileImage.imagePath" width="40" height="40" class="rounded-circle" />
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" routerLink="/user/profile">
                    {{getTranslates("profile")}}
                  </a>
                </li>
                <li *ngIf="userRolesContains('instructor')">
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a *ngIf="userRolesContains('instructor')" class="dropdown-item" routerLink="/user/questions">
                    {{getTranslates("manageQuestions") }}
                  </a>
                </li>
                <li *ngIf="userRolesContains('instructor')">
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a *ngIf="userRolesContains('instructor')" class="dropdown-item" routerLink="/user/tests">
                    {{getTranslates("manageTests") }}
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/user/results">
                    {{getTranslates("testResults")}}
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/settings">
                    {{getTranslates("settings")}}
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/give-feedback">
                    {{getTranslates("giveFeedback")}}
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" (click)="signOut()">
                    {{getTranslates("signOut")}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <!-- <div *ngIf="!isLog()" class="navbar-text">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-success me-2" routerLink="/register" type="button">Sign Up</button>
          <button class="btn btn-success" routerLink="/login" type="button">Login</button>
        </form>
      </div> -->

    </div>
  </div>
</nav>