<div class="modal-header">
    <h5 class="modal-title">{{getTranslate("addQuestion")}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <div class="content">
        <div class="col">
            <div class="card  mx-auto">
                <div class="card-body">
                    <form [formGroup]="questionAddForm" class="form">
                        <ul class="list-group list-group-flush">

                            <!-- starQuestion -->
                            <li class="list-group-item mb-3">
                                <div class="mb-3">
                                    <div class="form-group" id="starQuestion">
                                        <i *ngIf="starQuestion" class="fa fa-star"
                                            style="font-size:36px; color: rgb(156, 156, 43);"
                                            (click)="setStarQuestion()"></i>
                                        <i *ngIf="!starQuestion" class="fa fa-star-o"
                                            style="font-size:36px; color: rgb(156, 156, 43);"
                                            (click)="setStarQuestion()"></i>
                                    </div>
                                </div>

                            </li>

                            <!-- questionText -->
                            <li class="list-group-item mb-3">
                                <div class="mb-3">
                                    <label for="questionText" class="mb-1">{{getTranslate("questionText")}}</label>
                                    <div class="form-group">
                                        <textarea class="form-control" id="questionText" formControlName="questionText"
                                            rows="3" placeholder="Soru metni"></textarea>
                                    </div>
                                </div>
                            </li>

                            <!-- options -->
                            <li class="list-group-item mb-3">
                                <div class="col-md-8 mb-3" formArrayName="options">
                                    <label for="options" class="mb-3">
                                        <h4>{{getTranslate("options")}}</h4>
                                    </label>
                                    <div *ngFor="let option of optionsArray.controls; let i = index">
                                        <div class="row">
                                            <div [formGroupName]="i" class="col-md-10 col-10 mb-3">
                                                <div class="input-group">
                                                    <div class="input-group-text btn-light">
                                                        <input class="form-check-input mt-0" type="radio" id="accuracy"
                                                            formControlName="accuracy" [value]="i"
                                                            [(ngModel)]="accuracyIndex"
                                                            aria-label="Radio button for following text area" />
                                                    </div>
                                                    <textarea id="optionText" formControlName="optionText"
                                                        class="form-control" aria-label="Text input with radio button"
                                                        style="height: 38px;" placeholder="Seçenek Metni"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2 col-2 text-right mb-3">
                                                <button style="float: right" type="button" class="btn btn-light"
                                                    (click)="removeOption(i)">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-12 text-right">
                                        <button type="button" class="btn btn-dark" (click)="addOption()">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>

                            <!-- Lesson -->
                            <li class="list-group-item mb-3">
                                <label for="lessonId" class="mb-3">
                                    <h4>{{getTranslate("lesson")}}</h4>
                                </label>
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <select #lessonSelect class="form-select form-select" id="lessonId"
                                            formControlName="lessonId" aria-label="Floating label select example"
                                            (change)="getAllSubjects(+lessonSelect.value)">
                                            <option *ngFor="let lesson of lessons" [value]="lesson.id">
                                                {{ lesson.name }}
                                            </option>
                                        </select>
                                        <label for="lessonId">{{getTranslate("selectLesson")}}</label>
                                    </div>
                                </div>
                            </li>

                            <!-- Subject -->
                            <div *ngIf="!subjectDataLoaded && checkLessonIdValue() !== 0"
                                class="spinner-border text-dark" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>

                            <li *ngIf="subjectDataLoaded && checkLessonIdValue() !== 0" class="list-group-item mb-3">
                                <label for="subjectId" class="mb-3">
                                    <h4>{{getTranslate("subject")}}</h4>
                                </label>
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <select class="form-select form-select" id="subjectId"
                                            formControlName="subjectId" aria-label="Floating label select example">
                                            <option *ngFor="let subject of subjects" [value]="subject.id">
                                                {{ subject.name }}
                                            </option>
                                        </select>
                                        <label for="subjectId">{{getTranslate("selectSubject")}}</label>
                                    </div>
                                </div>
                            </li>

                            <!-- Difficulty -->
                            <li class="list-group-item mb-3">
                                <label for="difficultyLevel" class="mb-3" class="form-label">
                                    <h4>{{getTranslate("difficulty")}}</h4>
                                </label>
                                <div class="d-flex justify-content-start align-items-center">
                                    <div class="col-md-1 text-center">
                                        <h5 class="">{{getDifficultyLevel()}}</h5>
                                    </div>
                                    <div class="col">
                                        <input type="range" formControlName="difficultyLevel"
                                            class="form-range custom-range" min="1" max="5" step="1"
                                            id="difficultyLevel">
                                    </div>
                                </div>
                            </li>

                            <!-- Privacy -->
                            <li class="list-group-item mb-3">
                                <div class="mb-3">
                                    <label for="privacy" class="mb-3">
                                        <h4>{{getTranslate("privacy")}}</h4>
                                    </label>
                                    <div class="form-group">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="privacy"
                                                formControlName="privacy">
                                            <label *ngIf="checkPrivacy()" class="form-check-label" for="privacy">
                                                {{getTranslate("public")}}
                                            </label>
                                            <label *ngIf="!checkPrivacy()" class="form-check-label" for="privacy">
                                                {{getTranslate("private")}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>

                <div class="card-footer">
                    <button class="btn btn-fill btn-outline-success" (click)="add()">
                        {{getTranslate("add")}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>