<div class="container mb-5">
    <div *ngIf="!dataLoaded" class="spinner-border text-success" role="status">
        <span class="visually-hidden">{{getTranslate("loading")}}...</span>
    </div>

    <div class="row">
        <div class="mb-3 d-flex" style="padding-top: 1%;">
            <input [(ngModel)]="filterText" class="form-control me-3" type="search" placeholder="Ara"
                aria-label="Search" />
            <!-- <button class="btn btn-outline-success" type="submit">{{getTranslate("search")}}</button> -->
        </div>

        <div class="row">
            <!-- <div class="col-md-5">
                <div class="mb-3">
                    <button [routerLink]="getFilterRouterClass()" type="button" class="btn btn-success">
                        {{getTranslate("filter")}}
                    </button>
                </div>
            </div> -->
            <div class="col-md-7 text-end">
                <div class="mb-3">
                    <button (click)="openAddQuestionModal()" type="button" class="btn btn-dark">
                        {{getTranslate("add")}}
                    </button>
                </div>
            </div>
        </div>

        <!-- data manage -->
        <h3 class="text-center" *ngIf="questions.length === 0">{{getTranslate("noResults")}}</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="
            let question of questions | questionFilterPipe: filterText;
            let i = index
          " class="col">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="row">
                            <h5 class="col card-title">{{ i + 1 }}. {{getTranslate("question")}}</h5>
                            <div class="col text-end">
                                <i *ngIf="question.question.starQuestion" class="fa fa-star"
                                    style="font-size: 36px; color: rgb(197, 197, 38)"></i>
                                <i *ngIf="!question.question.starQuestion" class="fa fa-star-o"
                                    style="font-size: 36px; color: rgb(197, 197, 38)"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ question.question.questionText }}</p>

                        <div>
                            <ul class="list-group-mine list-group-flush">
                                <li *ngFor="let option of question.options; let i = index" class="list-group-item">
                                    <strong>{{ getOption(i) }})</strong>
                                    {{ option.optionText }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-dark me-2"
                            (click)="openUpdateQuestionModal(question.question.questionId)">
                            {{getTranslate("update")}}
                        </button>
                        <button type="button" class="btn btn-outline-dark"
                            (click)="openDeleteQuestionModal(question.question.questionId)">
                            {{getTranslate("delete")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>