.custom-c {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: -33px;
  right: -10px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 0px;
}

i.fa {
  color: black;
}

button.btn:hover i.fa {
  color: white;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  transition: color 100ms linear;
}
