<body class="text-center">
    <div class="container text-center">
        <h2 class="mb-3" style="font-weight: 600;">Kayıt Ol</h2>

        <div class="d-grid gap-2 col-sm-offset-2 col-sm-6 col-xs-6 mx-auto">
            <button class="btn btn-outline-success btn-lg mb-3" routerLink="/register/student">
                Öğrenci Hesabı Oluştur
            </button>
            <h4 class="mb-3">veya</h4>
            <button class="btn btn-success btn-lg mb-3" routerLink="/register/instructor">
                Öğretmen Hesabı Oluştur
            </button>
        </div>
    </div>
</body>