<body class="text-center p-0" style="height: 521px;">
    <div class="container-fluid text-center align-items-center px-4 overflow-hidden" style="height: 700px;">
        <ngb-carousel #carousel [interval]="0" [showNavigationArrows]="false" [showNavigationIndicators]="false"
            style="min-height: initial;">

            <ng-template ngbSlide>
                <h1 style="font-weight: 600; margin-bottom: 10%;">Hesabını Oluştur ve Kullanmaya Başla</h1>
                <div class="row mt-5" style="height: 400px;">
                    <div class="col-6 col-md-6 align-items-center">
                        <div class="p-0">
                            <button class="btn btn-outline-light justify-content me-3 w-75 h-100 btn-rounded"
                                (click)="setAccountType('student'); next();"
                                style="min-height: 350px; background-color: rgb(2, 189, 148);">
                                <h2 class="mb-3">Öğrenci Hesabı Oluştur</h2>
                                <p class="lead mb-4" style="font-size: 1.2rem; font-weight: 400;">
                                    Öğretmenlerin önceden
                                    hazırlamış olduğu testleri çözebilir, tamamen kendinize özel testler
                                    oluşturabilirsiniz.
                                </p>
                            </button>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 align-items-center">
                        <div class="p-0">
                            <button class="btn btn-outline-light ms-3 w-75 h-100 rounded"
                                (click)="setAccountType('teacher'); next();"
                                style="min-height: 350px; background-color: rgb(2, 189, 148);">
                                <h2 class="mb-3">Öğretmen Hesabı Oluştur</h2>
                                <p class="lead mb-4" style="font-size: 1.2rem; font-weight: 400;">
                                    Dilediğiniz gibi kendinize ait soru havuzunuzu
                                    yaratabilir, halka açık veya gizli testler oluşturabilirsiniz.
                                </p>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template ngbSlide>
                <!-- Student -->
                <app-register-student *ngIf="accountType === 'student'"></app-register-student>
                <!-- Teacher -->
                <app-register-teacher *ngIf="accountType === 'teacher'"></app-register-teacher>
            </ng-template>

        </ngb-carousel>
    </div>
</body>