<div class="container mb-5">
    <div *ngIf="!dataLoaded" class="spinner-border text-success" role="status">
        <span class="visually-hidden">{{getTranslate("loading")}}...</span>
    </div>

    <div class="row">
        <h3 class="text-center" *ngIf="tests.length === 0 && dataLoaded">{{getTranslate("noResults")}}</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left: 0px;">
            <div *ngFor="let test of tests; let i = index" class="col">
                <div class="card h-100">

                    <div class="card-header">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="col-md-1">
                                <img *ngIf="getProfileImage(test.test.userId)"
                                    [src]="baseUrl + getProfileImage(test.test.userId).imagePath" class="rounded-circle"
                                    width="30" height="30">
                            </div>
                            <div class="col ps-3">
                                <h6 class="card-title text-start mb-0">{{test.userName}}</h6>
                                <small class="text-muted mt-0">{{getCustomer(test.test.userId).lesson.name}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{test.test.title}}</h5>
                        <p class="card-text text-truncate">{{test.test.description}}</p>
                        <a routerLink="/tests/solve/{{test.test.id}}"
                            class="btn btn-outline-dark">{{getTranslate('viewDetails')}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>