<div class="container mb-5">
    <div *ngIf="!dataLoaded" class="spinner-border text-success" role="status">
        <span class="visually-hidden">{{getTranslate("loading")}}...</span>
    </div>

    <div class="row">
        <h3 class="text-center" *ngIf="tests.length === 0 && dataLoaded">{{getTranslate("noResults")}}</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left: 0px;">
            <div *ngFor="let test of tests; let i = index" class="col">
                <div class="card h-100">

                    <div class="card-header">
                        <img *ngIf="getProfileImage(test.test.userId)"
                            [src]="baseUrl + getProfileImage(test.test.userId).imagePath" class="rounded-circle"
                            width="30" height="30">
                        <div style="display: inline-block; margin-left: 6px;" class="mt-1">
                            <h6 class="card-title text-start">{{test.userName}}</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{test.test.title}}</h5>
                        <p class="card-text text-truncate">{{test.test.description}}</p>
                        <a routerLink="/tests/solve/{{test.test.id}}"
                            class="btn btn-outline-dark">{{getTranslate('start')}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>