<div class="container mb-5 pt-3">
    <div *ngIf="!dataLoaded" class="spinner-border text-success" role="status">
        <span class="visually-hidden">{{getTranslate("loading")}}...</span>
    </div>

    <h1><strong>{{getTranslate("questions")}}</strong></h1>
    <hr>
    <div class="row mt-3">
        <div class="col-3">
            
            <div class="">
                <!-- Ders Filtresi -->
                <h4 class="mb-3">Ders</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        First checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Second checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Third checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Fourth checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Fifth checkbox
                    </li>
                </ul>
            </div>

            <hr>

            <div class="">
                <!-- Konu Filtresi -->
                <h4 class="mb-3">Konu</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        First checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Second checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Third checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Fourth checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Fifth checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        First checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Second checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Third checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Fourth checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Fifth checkbox
                    </li>
                </ul>
            </div>
        </div>

        <!-- data manage -->
        <div class="col-9">
            <h3 class="text-center" *ngIf="questions.length === 0 && dataLoaded">{{getTranslate("noResults")}}</h3>
            <div class="row g-4" style="margin-left: 0px;">
                <!-- <div class="d-flex">
                    <input [(ngModel)]="filterText" class="form-control" type="search" placeholder="Ara"
                        aria-label="Search">
                </div> -->
                <div *ngFor="let question of questions 
                | questionFilterPipe : filterText : optionNumberFilter
                | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index" class="col-sm-12 col-12">
                    <div class="card h-100">

                        <div class="card-header">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="col-md-1">
                                    <img *ngIf="getProfileImage(question.question.userId)"
                                        [src]="baseUrl + getProfileImage(question.question.userId).imagePath"
                                        class="rounded-circle" width="30" height="30">
                                </div>
                                <div class="col ps-3">
                                    <h6 class="card-title text-start mb-0">{{question.userName}}</h6>
                                    <small
                                        class="text-muted mt-0">{{getCustomer(question.question.userId).lesson.name}}</small>
                                </div>
                            </div>

                        </div>
                        <div class="card-body bg-custom">
                            <p class="card-text" style="white-space: pre-line; word-wrap: break-word;">
                                {{question.question.questionText}}
                            </p>

                            <div class="text-start">
                                <ul class="list-group-mine list-group-flush bg-custom">
                                    <li *ngFor="let option of question.options; let i = index" class="list-group-item">
                                        <strong>{{ getOption(i) }})</strong>
                                        {{ option.optionText }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center d-flex justify-content-center pt-3">
            <ngb-pagination [pageSize]="pageSize" [collectionSize]="collectionSize" [(page)]="page" class="mb-0">
            </ngb-pagination>
        </div>
    </div>
</div>