<div class="modal-header">
    <h5 class="modal-title">{{getTranslate("add")}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="languageAddForm">
        <div class="mb-3">
            <label for="languageName">{{getTranslate("languageName")}}</label>
            <div class="form-group">
                <input type="text" id="languageName" formControlName="languageName" class="form-control" placeholder="ex: turkish, english..."/>
            </div>
        </div>
        <div class="mb-3">
            <label for="code">{{getTranslate("code")}}</label>
            <div class="form-group">
                <input type="text" id="code" formControlName="code" class="form-control" placeholder="ex: tr-TR, en-US..."/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()" data-bs-dismiss="modal">{{getTranslate("close")}}</button>
    <button type="button" class="btn btn-primary" (click)="add()">{{getTranslate("add")}}</button>
</div>
