<!-- Header -->
<div class="homepage">
    <div class="bd-masthead mb-3">
        <div class="container pe-0 ps-0">
            <div class="row align-items-lg-center started-bg">
                <div class="col-md-8 order-md-1 col-lg-12 text-center text-white"
                    style="margin-top: 7%; margin-bottom: 5%;">
                    <h1 class="mb-3">Soruluk ile Kendinizi Deneyin</h1>
                    <p class="lead mb-4" style="font-size: 1.5rem; font-weight: 400;">
                        Öğretmenlerin Hazırladığı Sorulardan Dilediğiniz Konuya Özel Testler<br>
                        Oluşturun ve Kendinizi Deneyin
                    </p>
                    <button class="btn btn-lg btn-info text-white mb-3" routerLink="/tests/details">Çözmeye Başla</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Followup -->
    <div class="container masthead-followup px-4 px-md-3">
        <div class="row align-items-lg-center" style="margin-top: 2%;">
            <div class="col-md-8 order-md-1 col-lg-7 text-md-left">
                <h4 class="mb-3">Kapsamlı Soru Havuzu</h4>
                <p class="lead mb-4" style="font-size: 1rem; font-weight: 400;">
                    Hazırlanan kapsamlı soru havuzundan dilediğiniz soruları
                    kullanarak kendinize özel testler oluşturabilirsiniz.
                </p>
            </div>
        </div>
    
        <div class="row align-items-lg-center" style="margin-top: 2%;">
            <div class="col-md-8 order-md-1 col-lg-7 text-md-left">
                <h4 class="mb-3">Kolay ve Pratik Kullanım</h4>
                <p class="lead mb-4" style="font-size: 1rem; font-weight: 400;">
                    Tüm öğretmenler için kolay ve pratik kullanım sizi bekliyor.
                    Sisteme kolayca soru ekleyebilir, test oluşturabilirsiniz.
                </p>
            </div>
        </div>
    
        <div class="row align-items-lg-center" style="margin-top: 2%;">
            <div class="col-md-8 order-md-1 col-lg-7 text-md-left">
                <h4 class="mb-3">Öğrencileri Neler Bekliyor?</h4>
                <p class="lead mb-4" style="font-size: 1rem; font-weight: 400;">
                    Tamamen kendinize özel testler oluşturabilir veya
                    başkalarının oluşturduğu testleri çözebilirsiniz.
                    İstediğiniz kategoriye özel rastgele test oluşturabilir ve
                    çözdüğünüz tüm testleri sonuçları ile birlikte görebilirsiniz.
                </p>
            </div>
        </div>
    
        <div class="row align-items-lg-center" style="margin-top: 2%;">
            <div class="col-md-8 order-md-1 col-lg-7 text-md-left">
                <h4 class="mb-3">Öğretmenleri Neler Bekliyor?</h4>
                <p class="lead mb-4" style="font-size: 1rem; font-weight: 400;">
                    Öğretmenlere özel kolay ve pratik soru oluşturma ve test hazırlama imkanı sizi bekliyor.
                    Kendi soru havuzunuzu yaratabilir, testler oluşturabilirsiniz.<br>
                    Testlerinizi ve sorularınızı ister 'halka açık' ister 'gizli' olarak kaydedebilirsiniz.
                </p>
            </div>
        </div>
    
        <div class="row align-items-lg-center" style="margin-top: 2%;">
            <div class="col-md-8 order-md-1 col-lg-7 text-md-left">
                <h4 class="mb-3" id="scrollspyHeading1">Üyelik</h4>
                <p class="lead mb-4" style="font-size: 1rem; font-weight: 400;">
                    Soruluk'a üye olurken rolünüzü doğru seçtiğinize emin olun.
                    Öğretmen hesaplar onaylanmadan soru ve test ekleme imkanına erişemez.
                    Öğretmen hesabınızı onaylamak istiyorsanız bizimle iletişime geçin.<br>
                    Hesabınızın onaylanma durumunu profilinizden görebilirsiniz.
                </p>
            </div>
        </div>
    </div>
</div>