<!-- Header -->
<div class="bd-masthead mb-3">
    <div class="container">
        <div class="row align-items-lg-center started-bg">
            <div class="col-md-8 order-md-1 col-lg-12 text-center text-white"
                style="margin-top: 7%; margin-bottom: 5%;">
                <h1 class="mb-3">Soruluk ile Kendinizi Deneyin</h1>
                <p class="lead mb-4" style="font-size: 1.5rem; font-weight: 400;">
                    Öğretmenlerin Hazırladığı Sorulardan Dilediğiniz Konuya Özel Testler<br>
                    Oluşturun ve Kendinizi Deneyin
                </p>
                <button class="btn btn-lg btn-info text-white mb-3" routerLink="/tests/details">Çözmeye Başla</button>
            </div>
        </div>
    </div>
</div>

<!-- Followup -->
<div class="container masthead-followup px-4 px-md-3">
    <div class="row align-items-lg-center" style="margin-top: 2%;">
        <div class="col-md-8 order-md-1 col-lg-7 text-md-left">
            <h4 class="mb-3">Kapsamlı Soru Havuzu</h4>
            <p class="lead mb-4" style="font-size: 1rem; font-weight: 400;">
                Hazırlanan kapsamlı soru havuzundan dilediğiniz soruları
                kullanarak kendinize özel testler oluşturabilirsiniz.
            </p>
        </div>
    </div>

    <div class="row align-items-lg-center" style="margin-top: 2%;">
        <div class="col-md-8 order-md-1 col-lg-7 text-md-left">
            <h4 class="mb-3">Kolay ve Pratik Kullanım</h4>
            <p class="lead mb-4" style="font-size: 1rem; font-weight: 400;">
                Tüm öğretmenler için kolay ve pratik kullanım sizi bekliyor.
                Sisteme kolayca soru ekleyebilir, test oluşturabilirsiniz.
            </p>
        </div>
    </div>

    <div class="row align-items-lg-center" style="margin-top: 2%;">
        <div class="col-md-8 order-md-1 col-lg-7 text-md-left">
            <h4 class="mb-3">Öğrencileri Neler Bekliyor?</h4>
            <p class="lead mb-4" style="font-size: 1rem; font-weight: 400;">
                Tamamen kendinize özel testler oluşturabilir veya
                başkalarının oluşturduğu testleri çözebilirsiniz.
                İstediğiniz kategoriye özel rastgele test oluşturabilir ve
                çözdüğünüz tüm testleri sonuçları ile birlikte görebilirsiniz.
            </p>
        </div>
    </div>

    <div class="row align-items-lg-center" style="margin-top: 2%;">
        <div class="col-md-8 order-md-1 col-lg-7 text-md-left">
            <h4 class="mb-3">Öğretmenleri Neler Bekliyor?</h4>
            <p class="lead mb-4" style="font-size: 1rem; font-weight: 400;">
                Öğretmenlere özel kolay ve pratik soru oluşturma ve test hazırlama imkanı sizi bekliyor.
                Kendi soru havuzunuzu yaratabilir, testler oluşturabilirsiniz.<br>
                Testlerinizi ve sorularınızı ister 'halka açık' ister 'gizli' olarak kaydedebilirsiniz.
            </p>
        </div>
    </div>

    <div class="row align-items-lg-center" style="margin-top: 2%;">
        <div class="col-md-8 order-md-1 col-lg-7 text-md-left">
            <h4 class="mb-3" id="scrollspyHeading1">Üyelik</h4>
            <p class="lead mb-4" style="font-size: 1rem; font-weight: 400;">
                Soruluk'a üye olurken rolünüzü doğru seçtiğinize emin olun.
                Öğretmen hesaplar onaylanmadan soru ve test ekleme imkanına erişemez.
                Öğretmen hesabınızı onaylamak istiyorsanız bizimle iletişime geçin.<br>
                Hesabınızın onaylanma durumunu profilinizden görebilirsiniz.
            </p>
        </div>
    </div>
</div>

<!-- Footer -->
<!-- <div class="bd-footer py-5 mt-5" style="background-color: rgb(161, 161, 161);">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <ul class="list-unstyled small">
                    <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                        aria-label="Bootstrap">
                        <span class="fs-5">Soruluk</span>
                    </a>
                    <li class="mb-2">
                        Soruluk, Selçuklu Fen Lisesi 10. sınıf öğrencisi<br>
                        Fatih Dağ tarafından 2021 yılında geliştirilmiş<br>
                        ve kullanıma açılmış bir platformdur.
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>{{getTranslate("social")}}</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="link-dark link" href="/give-feedback">İnstagram</a></li>
                    <li class="mb-2"><a class="link-dark link" href="/give-feedback">Twitter</a></li>
                    <li class="mb-2"><a class="link-dark link" href="/give-feedback">Facebook</a></li>

                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>{{getTranslate("resources")}}</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="link-dark link" href="/give-feedback">Feedback</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <h5>{{getTranslate("contact")}}</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="link-dark unlink"><b>Phone:</b> +905511448492</a></li>
                    <li class="mb-2"><a class="link-dark unlink"><b>Mail:</b> funnytest.client@gmail.com</a></li>
                    <li class="mb-2"><a class="link-dark unlink"><b>Personal Mail:</b> dagbfatih@hotmail.com</a></li>
                </ul>
            </div>

        </div>
    </div>
</div> -->