<div *ngIf="dataLoaded == false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">{{getTranslate("loading-text")}}</span>
</div>

<h3 class="text-center" *ngIf="translates.length === 0">{{getTranslate("result-not-found")}}</h3>

<div class="col">

    <div class="mb-3 d-flex" style="padding-top: 1%;">
        <input [(ngModel)]="filterText" class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
        <!-- <button class="btn btn-outline-success" type="submit">{{getTranslate("search")}}</button> -->
    </div>

    <div class="row">
        <div class="col-md-12 mb-3 text-end">
            <button type="button" class="btn btn-primary" (click)="openAddModal()">{{getTranslate("add")}}</button>
        </div>
    </div>

    <div *ngIf="translates.length !== 0" class="row">
        <table *ngIf="dataLoaded != false" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Language Name</th>
                    <th>Code</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let translate of translates |translateFilterPipe:filterText; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{translate.translate.id}}</td>
                    <td>{{translate.translate.key}}</td>
                    <td>{{translate.translate.value}}</td>
                    <td>{{translate.language.languageName}}</td>
                    <td>{{translate.language.code}}</td>
                    <td class="text-end">
                        <button type="button" class="btn btn-danger"
                            (click)="openDeleteModal(translate)">{{getTranslate("delete")}}</button>
                    </td>
                    <td class="text-end">
                        <button type="button" class="btn btn-primary"
                            (click)="openUpdateModal(translate)">{{getTranslate("update")}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>