<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Finish</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    Are you sure want to finish this test?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
    <button type="button" class="btn btn-primary" (click)="finish()">Finish Test</button>
</div>
