.bg-light-success{
    background-color: lightgreen;
}

.badge-outline {
    color: black;
    border: 5px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 50rem !important;
  }
  
  .badge-outline.badge-info {
    border-color: rgb(45, 160, 0);
  }
  
  .badge-outline.badge-light {
    border-color: rgb(45, 160, 0);
  }