<div class="modal-header">
    <h5 class="modal-title">{{getTranslate("add")}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="branchAddForm">
        <div class="mb-3">
            <label for="name">{{getTranslate("name")}}</label>
            <div class="form-group">
                <input type="text" id="name" formControlName="name" class="form-control" placeholder="ex: math, biology..."/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()" data-bs-dismiss="modal">{{getTranslate("close")}}</button>
    <button type="button" class="btn btn-primary" (click)="add()">{{getTranslate("add")}}</button>
</div>