<div class="container vh-100">
    <form [formGroup]="giveFeedbackForm" class="form">

        <div class="mb-3" formArrayName="fromAddresses">
            <div *ngFor="let emailAddress of fromAddressesArray.controls; let i = index">
                <div [formGroupName]="i">
                    <label for="address" class="form-label">{{getTranslate("email")}}</label>
                    <input type="email" class="form-control" id="address" formControlName="address"
                        placeholder="ex: name@example.com">
                </div>
            </div>
            
        </div>

        <div class="mb-3">
            <label for="subject" class="form-label">{{getTranslate("subject")}}</label>
            <input type="text" class="form-control" id="subject" formControlName="subject"
                placeholder="{{getTranslate('subjectPlaceholder')}}">
        </div>

        <div class="form-group mb-3">
            <label for="content">{{getTranslate("content")}}</label>
            <textarea class="form-control" id="content" rows="5" formControlName="content"
                placeholder="{{getTranslate('contentPlaceholder')}}"></textarea>
        </div>

        <button class="btn btn-primary" type="submit" (click)="giveFeedback()">{{getTranslate("send")}}</button>

    </form>
</div>