<div class="modal-header">
    <h5 class="modal-title">{{getTranslate("updateQuestion")}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <div class="content">
        <div class="col">
            <div class="card  mx-auto">
                <div class="card-header">
                    <div class="row">
                        <!-- star -->
                        <div class="col text-end">
                            <i *ngIf="question.question.starQuestion" class="fa fa-star"
                                style="font-size:36px; color: rgb(156, 156, 43);" (click)="setStarQuestion()"></i>
                            <i *ngIf="!question.question.starQuestion" class="fa fa-star-o"
                                style="font-size:36px; color: rgb(156, 156, 43);" (click)="setStarQuestion()"></i>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form [formGroup]="questionAddForm" class="form">
                        <ul class="list-group list-group-flush">
                            <!-- questionText -->
                            <li class="list-group-item mb-3">
                                <div class="mb-3">
                                    <label for="questionText" class="mb-1">{{getTranslate("questionText")}}</label>
                                    <div class="form-group">
                                        <textarea class="form-control" id="questionText" formControlName="questionText"
                                            rows="3" placeholder="Soru metni"></textarea>
                                    </div>
                                </div>
                            </li>

                            <!-- options -->
                            <li class="list-group-item mb-3">

                                <div class="col-md-8 mb-3" formArrayName="options">
                                    <label for="options" class="mb-3">
                                        <h4>{{getTranslate("options")}}</h4>
                                    </label>
                                    <div *ngFor="let option of optionsArray.controls; let i = index">
                                        <div class="row">
                                            <div [formGroupName]="i" class="col-md-11 mb-3">
                                                <div class="input-group">
                                                    <!-- <span class="input-group-text btn-success"
                                                        id="inputGroup-sizing-default">{{getOptionNumberClass(i) |
                                                        optionPipe:" )"}}
                                                    </span> -->
                                                    <div class="input-group-text btn-light">
                                                        <input class="form-check-input mt-0" type="radio" id="accuracy"
                                                            formControlName="accuracy" [value]="i"
                                                            [(ngModel)]="accuracyIndex"
                                                            aria-label="Radio button for following text area" />
                                                    </div>
                                                    <textarea id="optionText" formControlName="optionText"
                                                        class="form-control" aria-label="Text input with radio button"
                                                        style="height: 38px;" placeholder="Seçenek Metni"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-1 text-right mb-3">
                                                <button style="float: right" type="button" class="btn btn-light"
                                                    (click)="removeOption(i)">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-12 text-right">
                                        <button type="button" class="btn btn-dark" (click)="addOption()">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item mb-3">
                                <label for="difficultyLevel" class="mb-3">
                                    <h4>{{getTranslate("difficulty")}}</h4>
                                </label>
                                <input type="range" formControlName="difficultyLevel" class="form-range custom-range"
                                    min="0" max="5" step="1" id="difficultyLevel">
                            </li>

                            <!-- Privacy -->
                            <li class="list-group-item mb-3">
                                <div class="mb-3">
                                    <label for="privacy" class="mb-3">
                                        <h4>{{getTranslate("privacy")}}</h4>
                                    </label>
                                    <div class="form-group">
                                        <div class="form-check form-switch form-switch-lg">
                                            <input class="form-check-input" type="checkbox" id="privacy"
                                                formControlName="privacy">
                                            <label class="form-check-label" for="privacy">
                                                <h6 *ngIf="checkPrivacy()" class="">{{getTranslate("public")}}</h6>
                                                <h6 *ngIf="!checkPrivacy()">{{getTranslate("private")}}</h6>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-dark" (click)="update()">Save changes</button>
</div>